html { overflow-y: scroll; overflow-x: hidden; }
html, body { height: 100%; }
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.4;
	background: white;
	padding: 0; margin: 0;
}

/* HTML5 elements...*/
header, footer, section, figure { display: block; }
header { 
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: white; 
	z-index: 10;
}
section {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}
header section {
  padding: 10px 0 12px 0;
}

#logo {
	position: absolute;
	right: 20px;
	top: 12px;
	background: url(../images/logo.png) no-repeat;
	width: 62px;
	height: 24px;
	text-indent: -9999px;
}
#content {
	height: 100%;
}
#content section {
	padding: 80px 0;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-weight: 100;
}
h1 strong, h2 strong {
	font-weight: 700;
	color: white;
}
h2 {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h3 {
	font-size: 40px;
	margin: 0 0 15px 0;
}

footer {
	background: rgba(0,0,0,0.8);
	padding: 10px;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	color: white;
}

footer a {
	color: white;
	text-decoration: none;
}

footer select {
  margin-right: 20px;
}

#next {
	position: absolute;
	right: 40px;
	top: 0;
}
#previous {
	position: absolute;
	left: 20px;
	top: 0;
}
#next:after, #previous:after {
	content: "";
	position: absolute;
	top: 6px;	
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
#next:after {
	left: 125%;
	border-left: 15px solid #999;
}
#previous:after {
	right: 120%;
	border-right: 15px solid #999;
}
#next:hover, #previous:hover {
	font-weight: 600;
}
#next:hover:after {
	border-left-color: white;
}
#previous:hover:after {
	border-right-color: white;
}



/* Slide-y Stuff */
#content, h1 section {
	opacity: 0;
	/*left: -3500px;*/
	position: relative;
	-webkit-transition: all 1.5s ease;
	-webkit-transition-property: left, opacity;
	-moz-transition: all 1.5s ease;
	-moz-transition-property: left, opacity;
	-o-transition: all 1.5s ease;
	-o-transition-property: left, opacity;
}

.loaded #content, .loaded h1 section {
	/*left: 0;*/
	opacity: 1;
}

.leaving #content, .leaving h1 section {
	/*left: 3500px;*/
	opacity: 0;
}